<header>
    <div class="container">
        <div id="logo"></div>
        <nav>
            <ul class="nav-links">
                <li><a routerLink="dashboard">Home</a></li>
                <li><a routerLink="vehicle">vehicles</a></li>
                <li><a routerLink="customer">customer</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="search-bar">
         <input #searchText type="text" (change)="onchange($event)" />
         <button> search</button>
        </div>
    </div>
</header>


<router-outlet />